@model IEnumerable<WebDACS.Models.ShoppingCartItem>
@using WebDACS.Common

@if (Model != null && Model.Any())
{
    <h3>Giỏ hàng<span style="float:right;" class="badge badge-secondary badge-pill">@Model.Count()</span></h3>
    var i = 0;
    var tongtien = decimal.Zero;
    <div style="border:1px solid #808080">
        <table class="table">
            @foreach (var item in Model)
            {
                tongtien += item.TotalPrice;
                <tr class="text-center">
                    <td>@item.ProductName</td>
                    <td>@item.Quantity</td>
                    <td>@Common.FormatNumber(item.Price, 0)</td>
                </tr>
            }
            <tr class="text-center">
                <th>Tổng tiền</th>
                <th>@Common.FormatNumber(tongtien, 0)</th>
            </tr>
        </table>
    </div>
    <hr/>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Mã khuyến mãi">
        <div class="input-group-append">
            <button type="submit" class="btn btn-secondary">Áp dụng</button>
        </div>
    </div>



}
else
{

}

